# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Initiation à la l'intégration continue CI (playwright)

# détermine quand le script est déclenché
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# les tâches à exécuter
jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 30

   # strategy:
   #   matrix:
    #    node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    #le job télécharge ton repo sur la machine de la CI.
    - name: Récupérer le code
      uses: actions/checkout@v4
      
    - name: Configurer Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'

    - name: Installer les dépendances
      run: npm ci
      
   # - run: npm run build --if-present

   
   # - run: npm test
    - name: Installer les navigateurs Playwright (avec dépendances OS)
      run: npx playwright install --with-deps
    - name: Attendre que l'application soit prête
      run: |
            URL="https://bugcorp.vercel.app"
            echo "Attente de $URL ..."
            for i in {1..60}; do
              code=$(curl -s -o /dev/null -w "%{http_code}" "$URL")
              if [ "$code" = "200" ]; then
                echo "OK (HTTP 200) ✅"
                exit 0
              fi
              echo "Pas prête encore (HTTP $code). nouvelle tentative dans 5s..."
              sleep 5
            done
            echo "Délai d'expiration en attente de $URL ❌"
            exit 1


    - name: Exécuter les tests Playwright
      env:
          CI: true
          BASE_URL: https://bugcorp.vercel.app
      run: npx playwright test


    - name: Télécharger le rapport HTML Playwright
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report
        retention-days: 14


    - name: Télécharger les résultats des tests Playwright (JUnit + traces + vidéos + captures d'écran)
      if: always()
      uses: actions/upload-artifact@v4
      with:
          name: test-results
          path: test-results
          retention-days: 14
